<div id="preloader">
    <div id="status"></div>
</div>

<!-- FullScreen -->
<div class="intro-header">
    <div class="col-xs-12 text-center top-text">
        <h3 class="container h3_home wow fadeIn title" style="font-family: Montserrat;">Discover <span style="color: #efad34;border-bottom: 1px solid;">WHY BitConnect Coin</span> is the First Cryptocurrency to <span style="color: #efad34;border-bottom: 1px solid;">Pay their Investors</span>...EARN AN AVERAGE INTEREST OF 1% A DAY!</h3>
        <h3 class="container h3_home wow fadeIn title" style="font-family: Montserrat;">Here is the PROOF!</h3>
    </div>

<div class="videoWrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hqLF3EXNFKM" frameborder="0" allowfullscreen></iframe>
</div>

    <div class="btn-div">
        <a href="https://bitconnect.co/?ref=cryptocubes"><img src="img/btn.png" /></a>
    </div>
    <div class="container squeeze">
        <div class="">
            <a href="https://bitconnect.co/?ref=cryptocubes"><img src="img/sqeeze.png" /></a>
        </div>
        <div class="">
            <a href="https://bitconnect.co/?ref=cryptocubes"><img src="img/squeeze1.png" /></a>
        </div>
    </div>
    <div class="btn-div">
        <a href="https://bitconnect.co/?ref=cryptocubes"><img src="img/btn.png" /></a>
    </div>

</div>


