body {
  background: black;
}

.top-text {
  background: rgba(255, 255, 255, 0.16);
  padding-top: 2rem;
  margin-bottom: 4rem;
}
.intro-header {
  z-index: 10000;
  color: white;
  text-align: center;
}

.title {
  padding-left: 15rem;
  padding-right: 15rem;
  line-height: 1.9;
  font-size: 35px;
}

.btn-div {
  padding-top: 4rem;
  width: 452px;
  margin: 0 auto;
}

img {
  width: 100%;
}

#videoWrapper {
  padding-top: 3rem;
}

iframe, object, embed {
  max-width: 100%;
}

@media (max-width: 768px) {
  .title {
    padding-left: 0;
    padding-right: 0;
    line-height: 1.9;
    font-size: 20px;
  }
  .btn-div {
    padding-top: 4rem;
    width: 250px;
    margin: 0 auto;
  }
}